/*Title Bar*/
.kas {
    background-color: black;
    color: white;
    margin-top:0%;
    padding: 20px;
    text-align: center;

}

/*Navigation*/
.nava{
min-width: 30px;
min-height:30px;
border: none;
border-radius: 10px;
flex-wrap: wrap;
flex-basis: 13%;
background-color: none;
align-items: center;
align-content: center;
color: black;


}


.subnavContents{
    display: none;
    min-width: 150px;
    position: absolute;
    z-index: 1;
    background-color: grey;
    font-size: 16px;
    padding: 10px;
    gap: 1rem;
    border-radius: 5%;
    left: 84%;
    
}

.subnava:hover{
    background-color: skyblue;
}

.subnavBtn{
min-width: 30px;
min-height:30px;
border: none;
border-radius: 10px;
background-color: white;
padding: 10px;
margin-bottom: 10px;

} 




.navsec{
    background-color: skyblue;
    color:white;
    padding: 10px;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    gap: 1.5rem;
    cursor: auto;
    
}

.logo{
   grid-column: 2 /span 7; 


}


.subnava{
    color: black;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    min-width:auto;

}


/*Main Section*/
.collapse{
    display: none;
}

.mainsection{
    display: flex;
    gap: 1em;
    font-size: 0.6em;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 14px;
    }
    
    span{
        color: green;
    }
    
    .features{
        text-align: center;
    }

    .downloads a:hover{
     color: green;
    }

    .download{
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    .setup{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
        padding: 50px;

    }

    .date{ 
       border: 4px dashed lightgrey;
       display: grid;
       grid-template-columns: 1fr;
       padding: 30px;
       gap: 1.5rem;
    }

    .import{
        border: 4px dashed lightgrey;
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
        gap: 1.5rem;
        width:150px;
        
    }

    .date button{
        background-color: skyblue;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 5px;
           
    }

    .import button{
        width: 120px;
        background-color: skyblue;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 5px;
    }
    .labelTitle{
        font-size: small;
        font-weight: bold;
    }
    
    

    
/*Media Queries*/
@media (max-width:1200px){
    /*Title Bar*/
.kas {
    background-color: black;
    color: white;
    margin-top:0%;
    font-size: 25px;
    padding: 25px;
    text-align: center;
}


/*Navigation*/
.nava{
min-width: 30px;
min-height:30px;
border: none;
border-radius: 10px;
flex-wrap: wrap;
flex-basis: 13%;
background-color: none;
align-items: center;
align-content: center;
color: black;


}


.subnavContents{
    display: none;
    min-width: 130px;
    position: absolute;
    z-index: 1;
    background-color: grey;
    font-size: 16px;
    padding: 10px;
    border-radius: 5%;
    left: 73%;  
}


.subnavBtn{
min-width: 30px;
min-height:30px;
border: none;
border-radius: 10px;
background-color: white;
padding: 10px;
margin-bottom: 10px;
margin-left: 70px;

}  



.navsec{
    background-color: skyblue;
    color:white;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   justify-content: center;
   align-items: center;
    gap: 1.5rem;
    cursor: auto;
    
}

.logo{
   grid-column: 2 /span 7; 


}




/*Main Section*/
.collapse{
    display: none;
}

.mainsection{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: justify;
    align-items: center;
    align-content: center;
    padding: 21px;
   
    font-size: 14px;
    }
    
    span{
        color: green;
    }
    
    .features{
        text-align: center;
        padding-bottom: 1px;
        margin-bottom: 1px;

    }

    .downloads a:hover{
     color: green;
    }

    .download{
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    .downloads{
        padding-top: 1px;
        margin-top: 1px;
    }

    .setup{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        padding: 50px;
        margin-top: 1px;
        padding-top: 1px;

    }

    .date{ 
       border: 3px dashed lightgrey;
       display: grid;
       grid-template-columns: 1fr;
       padding: 30px;
       gap: 1.5rem;
    }

    .import{
        border: 3px dashed lightgray;
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
        gap: 1.5rem;
        width:150px;
        
    }

    .date button{
        background-color: skyblue;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 5px;
           
    }

    .import button{
        width: 120px;
        background-color: skyblue;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 5px;

     
    }

}


@media (max-width:600px){
   
    .navsec{
        background-color: skyblue;
    }
    .subnavContents{
        left:55%; 
         
    }
}